<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Reservation List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Booking Date</th>
            <th>Customer Name</th>
            <th>Booker Name</th>
            <th>Booker Mail</th>
            <th>Check in</th>
            <th>Check out</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations | async">
            <td>{{reservation.id}}</td>
            <td>{{reservation.bookedOn}}</td>
            <td>{{reservation.guest.firstName}} </td>
            <td>{{reservation.booker.firstName}}</td>
            <td>{{reservation.booker.mail}}</td>
            <td>{{reservation.checkin}}</td>
            <td>{{reservation.checkout}}</td>
            <td><button (click)="deleteReservation(reservation.id)" class="btn btn-danger">Delete</button>
                <button (click)="reservationDetails(reservation.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>